/*html 요소 숨기는 방법 */
.hidden {
  display: none;
}

.width-mid-position {
  display: grid;
  place-content: center;
  margin-top: 10%;
}

.text-center {
  text-align: center;
}

.white-font {
  color: cyan;
}
